<p id="notice"><%= notice %></p>

<h1>Listing Curso Escolas</h1>

<table>
  <thead>
    <tr>
      <th>Escola</th>
      <th>Curso</th>
      <th>Professor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curso_escolas.each do |curso_escola| %>
      <tr>
        <td><%= (curso_escola.escola.nome if !curso_escola.escola.nome.nil?) if !curso_escola.escola.nil? %></td>
        <td><%= (curso_escola.curso.nome if !curso_escola.curso.nome.nil?) if !curso_escola.curso.nil? %></td>
        <td><%= (curso_escola.professor.nome if !curso_escola.professor.nome.nil?) if !curso_escola.professor.nil? %></td>
        <td><%= link_to 'Show', curso_escola %></td>
        <td><%= link_to 'Edit', edit_curso_escola_path(curso_escola) %></td>
        <td><%= link_to 'Destroy', curso_escola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curso escola', new_curso_escola_path %>
